#image-container {
     position: relative;
     width: 50%;
     height: 64%;
     overflow: hidden;
     float: right;
}

#kusama {
    position: relative;
    width: 37%;
    height: auto;
    padding-right: 1%;
    float: left;
}

#nft {
    position: relative;
    width: 30%;
    height: auto;
    padding: 1%;
    float: left
}

#meaning {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: left;
}

#hover {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: right;
}

#context {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: left;
}

#context2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: right;
}

#episode2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: left;
}
        
#mainimage {
    position: absolute;
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: transform 0.5s ease;
}

#landscape {
    position: left;
    width: 25%;
    height: auto;
}

#musician {
    position: center;
    width: 24%;
    height: auto;
}

#passive {
    position: right;
    width: 25%;
    height: auto;
}

#serving{
    position: right;
    width: 25%;
    height: auto;
}
        
#image-container:hover #mainimage {
    transform: scale(10);
}
        
#image-container:hover #mainimage:hover {
    transform: translate(-50%, -50%) scale(10);
}
