#title {
    text-align: center;
    font-size: 50pt;
    font-family: 'Franklin Gothic Large', 'Arial Narrow', Arial, sans-serif;
    color: rgb(83, 29, 50);
}

#subtitle {
    text-align: center;
    font-size: 30pt;
    font-family: 'Franklin Gothic Large', 'Arial Narrow', Arial, sans-serif;
    color: rgb(83, 29, 50);
}

#imgsize {
    width: 40%;
    height: auto;
}
#week1 {
    text-align: left;
    font-size: 24pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(83, 29, 50)
}

#week2 {
    text-align: center;
    font-size: 24pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(83, 29, 50)
}

#week3 {
    text-align: right;
    font-size: 24pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(83, 29, 50)
}

#week4 {
    text-align: center;
    font-size: 24pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(83, 29, 50)
}

#week5 {
    text-align: left;
    font-size: 24pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(83, 29, 50)
}

#week6 {
    text-align: center;
    font-size: 24pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(83, 29, 50)
}

#week9 {
    text-align: right;
    font-size: 24pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(83, 29, 50)
}

#week10 {
    text-align: center;
    font-size: 24pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(83, 29, 50)
}

#week11 {
    text-align: left;
    font-size: 24pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(83, 29, 50)
}

#concept1 {
    text-align: center;
    font-size: 24pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(83, 29, 50)
}

#concept2 {
    text-align: right;
    font-size: 24pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(83, 29, 50)
}

body {
    background-color: rgb(227, 214, 219);
    margin-right: 50%;
}