body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
}

.container {
  position: relative;
  height: 100%;
}

.section {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  transition: opacity 0.3s, visibility 0.3s; 
  font-family: Helvetica, sans-serif;
}

#highlight {
  background-color: white;
  color: black;
}

.blackBg {
  background-color: black;
  color: white;
  z-index: 1;
}

.header1 {
  font-family: Arial, sans-serif;
  font-size: 24px;
  text-align: left;
  z-index: 4;
  margin-left: 1%;
}

.section1 {
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 24px;
  text-align: left;
  z-index: 2;
}

.section2 {
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 24px;
  text-align: left;
  z-index: 2;
}

.section3 {
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 24px;
  text-align: left;
  z-index: 2;
}

#imgwidth {
  width: 250px;
  height: 250px;
  position: relative;
  transition-duration: 0.3s; 
  transition-timing-function: ease; 
}

#vegyn {
  width: 250px;
  height: 250px;
  position: relative;
  transition-duration: 0.3s; 
  transition-timing-function: ease; 
}

#vegyn:hover { 
  transform: scale(1.1); 
}

#exo {
  width: 250px;
  height: 250px;
  position: relative;
  transition-duration: 0.3s; 
  transition-timing-function: ease; 
}

#exo:hover { 
  transform: scale(1.1); 
}

#takevan {
  width: 250px;
  height: 250px;
  position: relative;
  transition-duration: 0.3s; 
  transition-timing-function: ease; 
}

#takevan:hover { 
  transform: scale(1.1); 
}

#loukeman {
  width: 250px;
  height: 250px;
  position: relative;
  transition-duration: 0.3s; 
  transition-timing-function: ease; 
}

#loukeman:hover { 
  transform: scale(1.1); 
}

#lightleak {
  width: 250px;
  height: 250px;
  position: relative;
  transition-duration: 0.3s; 
  transition-timing-function: ease; 
}

#lightleak:hover { 
  transform: scale(1.1); 
}

#machinegirl {
  width: 250px;
  height: 250px;
  position: relative;
  transition-duration: 0.3s; 
  transition-timing-function: ease; 
}

#machinegirl:hover { 
  transform: scale(1.1); 
}

#select {
  margin: 0.5%;
}